 // Primary colours
$linear-gradient-blue: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

// Neutral colours
$color-very-light-grayish-blue: hsl(240, 78%, 98%);
$color-light-grayish-blue: hsl(234, 14%, 74%);
$color-grayish-blue: hsl(233, 13%, 49%);
$color-dark-grayish-blue: hsl(232, 13%, 33%);

// Typography
$default-font: 'Montserrat', sans-serif;

// Body copy
$body-font-size: 0.9375em; // 15px

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $default-font;
  font-size: $body-font-size;
  line-height: 1.5em;
  background-color: $color-very-light-grayish-blue;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: $default-font;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem;
  width: 85%;
}

.heading {
  text-align: center;
  font-size: 2.5em;
  color: $color-grayish-blue;
  padding-left: 1em;
  padding-right: 1em;
}

.payment-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1.3em;
  padding-right: 1.3em;

  &__label {
    margin-top: 0;
    margin-bottom: 0;
    color: $color-light-grayish-blue;
  }
  &__switch {
    margin-top: 0;
  }
  &__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  &__switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    margin-top: 0;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input + .slider,
  input:checked + .slider {
    background: hsl(237, 63%, 64%);
  }

  input + .slider:hover,
  input + .slider:focus,
  input + .slider:active {
    background: hsl(236, 72%, 79%);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.pricing-component-wrapper {
  width: 85%;
  padding: 1rem 2rem;
}

.pricing-component {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
  margin-bottom: 3em;

  &__type {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  &__type.basic,
  &__type.master {
    color: $color-grayish-blue;
  }
  &__price-wrapper {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.5em;
    width: 100%;
  }
  &__price-wrapper.basic,
  &__price-wrapper.master{
    border-bottom: 1px solid $color-light-grayish-blue;
    color: $color-dark-grayish-blue;
  }
  &__price-wrapper.professional {
    border-bottom: 1px solid white;
  }
  &__currency {
    display: inline-block;
    font-size: 2.2em;
    margin-right: 5px;
    margin-top: 5px;
  }
  &__amount {
    display: inline-block;
    margin-top: 0;
    font-size: 3.5em;
  }
  &__feature-wrapper {
    width: 100%;
    margin-top: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: $color-grayish-blue;
    font-weight: 700;
  }
  &__feature-wrapper.professional {
    border-bottom: 1px solid white;
    color: white;
  }
  &__feature-wrapper.basic,
  &__feature-wrapper.master {
    border-bottom: 1px solid $color-light-grayish-blue;
  }
  &__btn {
    width: 90%;
    height: 50px;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 3em;
  }
  &__btn.btn-basic,
  &__btn.btn-master {
    background: $linear-gradient-blue;
    color: white;
  }
  &__btn.btn-basic:hover,
  &__btn.btn-basic:focus,
  &__btn.btn-basic:active,
  &__btn.btn-master:hover,
  &__btn.btn-master:focus,
  &__btn.btn-master:active {
    background: white;
    color: hsl(237, 63%, 64%);
    border: 1px solid $color-dark-grayish-blue;
  }
  &__btn.btn-professional{
    background: white;
    color: hsl(237, 63%, 64%);
  }
  &__btn.btn-professional:hover,
  &__btn.btn-professional:focus,
  &__btn.btn-professional:active{
    background: hsl(237, 63%, 64%);
    color: white;
    border: 1px solid white;
  }
  &--basic {
    background-color: white;
  }
  &--professional {
    background: $linear-gradient-blue;
    color: white;
  }
  &--master {
    background-color: white;
    margin-bottom: 0;
  }
  -webkit-box-shadow: 0px 7px 18px -10px rgba(179,181,198,1);
  -moz-box-shadow: 0px 7px 18px -10px rgba(179,181,198,1);
  box-shadow: 0px 7px 18px -10px rgba(179,181,198,1);
}

footer {
  .attribution {
    font-size: 0.6875em; // 11px;
    font-weight: 400;
    text-align: center;
    padding: 0.8em;
    color: $color-dark-grayish-blue;
  }
  .attribution a {
    color: $color-dark-grayish-blue;
  }

  .attribution a:hover,
  .attribution a:focus,
  .attribution a:active {
    color: hsl(236, 72%, 79%);
  }

  .attribution span {
     display: block;
  }

  .attribution span + span {
     margin-top: 0;
  }
}
