*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375em;
  line-height: 1.5em;
  background-color: #f6f6fe;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem;
  width: 85%;
}

.heading {
  text-align: center;
  font-size: 2.5em;
  color: #6d708d;
  padding-left: 1em;
  padding-right: 1em;
}

.payment-option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1.3em;
  padding-right: 1.3em;
  /* Rounded sliders */
}
.payment-option__label {
  margin-top: 0;
  margin-bottom: 0;
  color: #b3b5c6;
}
.payment-option__switch {
  margin-top: 0;
}
.payment-option__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.payment-option__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.payment-option .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 0;
}
.payment-option .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.payment-option input + .slider,
.payment-option input:checked + .slider {
  background: #696fdd;
}
.payment-option input + .slider:hover,
.payment-option input + .slider:focus,
.payment-option input + .slider:active {
  background: #a3a8f0;
}
.payment-option input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.payment-option .slider.round {
  border-radius: 34px;
}
.payment-option .slider.round:before {
  border-radius: 50%;
}

.pricing-component-wrapper {
  width: 85%;
  padding: 1rem 2rem;
}

.pricing-component {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
  margin-bottom: 3em;
  -webkit-box-shadow: 0px 7px 18px -10px #b3b5c6;
  -moz-box-shadow: 0px 7px 18px -10px #b3b5c6;
  box-shadow: 0px 7px 18px -10px #b3b5c6;
}
.pricing-component__type {
  font-size: 1.2em;
  margin-bottom: 0;
}
.pricing-component__type.basic, .pricing-component__type.master {
  color: #6d708d;
}
.pricing-component__price-wrapper {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.5em;
  width: 100%;
}
.pricing-component__price-wrapper.basic, .pricing-component__price-wrapper.master {
  border-bottom: 1px solid #b3b5c6;
  color: #494c5f;
}
.pricing-component__price-wrapper.professional {
  border-bottom: 1px solid white;
}
.pricing-component__currency {
  display: inline-block;
  font-size: 2.2em;
  margin-right: 5px;
  margin-top: 5px;
}
.pricing-component__amount {
  display: inline-block;
  margin-top: 0;
  font-size: 3.5em;
}
.pricing-component__feature-wrapper {
  width: 100%;
  margin-top: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: #6d708d;
  font-weight: 700;
}
.pricing-component__feature-wrapper.professional {
  border-bottom: 1px solid white;
  color: white;
}
.pricing-component__feature-wrapper.basic, .pricing-component__feature-wrapper.master {
  border-bottom: 1px solid #b3b5c6;
}
.pricing-component__btn {
  width: 90%;
  height: 50px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 3em;
}
.pricing-component__btn.btn-basic, .pricing-component__btn.btn-master {
  background: linear-gradient(#a3a8f0, #696fdd);
  color: white;
}
.pricing-component__btn.btn-basic:hover, .pricing-component__btn.btn-basic:focus, .pricing-component__btn.btn-basic:active, .pricing-component__btn.btn-master:hover, .pricing-component__btn.btn-master:focus, .pricing-component__btn.btn-master:active {
  background: white;
  color: #696fdd;
  border: 1px solid #494c5f;
}
.pricing-component__btn.btn-professional {
  background: white;
  color: #696fdd;
}
.pricing-component__btn.btn-professional:hover, .pricing-component__btn.btn-professional:focus, .pricing-component__btn.btn-professional:active {
  background: #696fdd;
  color: white;
  border: 1px solid white;
}
.pricing-component--basic {
  background-color: white;
}
.pricing-component--professional {
  background: linear-gradient(#a3a8f0, #696fdd);
  color: white;
}
.pricing-component--master {
  background-color: white;
  margin-bottom: 0;
}

footer .attribution {
  font-size: 0.6875em;
  font-weight: 400;
  text-align: center;
  padding: 0.8em;
  color: #494c5f;
}
footer .attribution a {
  color: #494c5f;
}
footer .attribution a:hover,
footer .attribution a:focus,
footer .attribution a:active {
  color: #a3a8f0;
}
footer .attribution span {
  display: block;
}
footer .attribution span + span {
  margin-top: 0;
}

/*# sourceMappingURL=styles.css.map */
